
<ion-view hide-nav-bar="true" hide-back-button="true">
<ion-content class="main-page home-bg content-bg overlay-content" scroll="false">
   <div class="logo">
   </div>
   <div class="">
    <p>
      A hybrid (ionic, cordova) authentication app powered by a nodejs server :)
    </p>

    <p>
      By <a class="pseudo-link" ng-click="launchFrnchNrd()">Ryad Juliano</a>
    </p>
   </div>

   <button class="button button-blue" ng-click="tolink()">
      Sign In
   </button>
   <button class="button button-black" ng-click="navigateTo()">
      Sign up
   </button>
   
</ion-content>

</ion-view>